@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* 기본 스타일 추가 */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: white;
}

/* 나눔스퀘어라운드 폰트 정의 */
@font-face {
  font-family: "NanumSquareRound";
  src: url("/fonts/NanumSquareRoundEB.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* 폰트 적용 */
* {
  font-family: "NanumSquareRound", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
